.jumbotron
  .row
    .col-md-10.col-md-offset-1
      %h1.text-center Change your password
  .row
    .col-md-8.col-md-offset-2
      .box
        =form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal'} do |f|
          = f.hidden_field :reset_password_token
          .form-group.form-group-lg
            =f.password_field :password, class: 'form-control input-lg', autofocus: true, placeholder: 'New password', autocomplete: 'off'
          .form-group.form-group-lg
            =f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: 'Confirm new password', autocomplete: 'off'
          .form-group.form-group-lg
            = f.submit 'Change my password', class: 'btn btn-success btn-lg btn-block'
        .extra-links.pull-right
          = render "devise/shared/links"
