.footer
  - unless ['sessions', 'passwords'].include?(controller_name)
    %hr
    Feedback is welcome:
    =link_to "Zoltan Debre", "http://zoltan.nz"
    |
    =link_to "LinkedIn", "http://www.linkedin.com/in/zoltandebre"
    |
    =link_to "Twitter", "http://twitter.com/szines"
    |
    =link_to "GitHub", "http://github.com/szines"
