%nav.navbar.navbar-inverse
  .navbar-header
    %button.navbar-toggle{data: {toggle: 'collapse', target: '#menubar'}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    =link_to 'Admin', root_path, class: 'navbar-brand'
  #menubar.navbar-collapse.collapse
    %ul.nav.navbar-nav
      - if user_signed_in?
        %li=link_to 'Home', root_path, class: ('active' if controller_name == 'posts')
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li=link_to('Logout', destroy_user_session_path, method: :delete)
=render 'layouts/messages'
